BODY {
  margin:0;
}
DIV#content {
  font: 12px Arial;
}
DIV#insert {
  display: none;
}

DIV.1st {
  /*margin: 4px 0px;*/
  margin-left:40px;
}
DIV.Nth {
  /*margin: 4px 0px 4px 0px;*/
  margin-left:40px;
}

/* Two ways to do icons with these rules:
   <img class='icon' src='%userIconPath%'>
   <div class='icon'><div style='height:1px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="%userIconPath%")'></div></div>
*/
DIV.chat {
	background:#F5F5F5;
	padding:5px;
	border-left:5px solid #ddd;
}
DIV.chat .icon {
	
}
DIV.chat DIV.msg {
  /*margin: 0px 0px 0px 0px;*/
	font:normal 10pt Î¢ÈíÑÅºÚ,tohama,ËÎÌå;
	line-height:1.4em;
}
DIV.detail{
}
DIV.chat DIV.Nth {
  /*margin: 5px 0px 0px 0px;*/
  margin-left:40px;
}
DIV.chat SPAN.salutation {
  font-weight: bold;
}

DIV.out {
  text-align: left;
  margin-top:0.3em;
  border-left:5px solid #92B3E8;
}
DIV.out .icon {
  float: left;
  margin: 2px 0px 0px 0px;
}

DIV.out .salutation{
	color:#05c;
}

DIV.in {
  text-align: left;
  margin-top:0.3em;
}
DIV.in .icon {
  float: left;
  margin: 2px 0px 0px 0px;
}

DIV.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

DIV.break {
  height: 1px;
  margin: 1px 0px 1px 0px;
  overflow: hidden;
}

div.status {
	line-height:1.6em;
	padding:2px 5px;
}