body {
  margin:0;
}

div#content {
  font: 12px Arial;
}

div#insert {
  display: none;
}

div.1st {
  /*margin: 4px 0px;*/
  margin-left:40px;
}

div.Nth {
  /*margin: 4px 0px 4px 0px;*/
  margin-left:40px;
}

/* Two ways to do icons with these rules:
   <img class='icon' src='%userIconPath%'>
   <div class='icon'><div style='height:1px;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="%userIconPath%")'></div></div>
*/
div.chat {
	background:#F5F5F5;
	padding:5px;
	border-left:5px solid #ddd;
}

div.chat .icon {
	float: left;
	margin: 2px 0px 0px 0px;
}

div.chat div.msg {
  /*margin: 0px 0px 0px 0px;*/
	font:normal 10pt/1.2em Î¢ÈíÑÅºÚ,arial,ËÎÌå;
	margin-bottom: 0.3em;
}

div.chat .msg li {
	list-style: square;
	vertical-align: -1px;
	list-style-position: inside;
}

div.chat .msg .detail {
	color: #111;
}

div.chat div.Nth {
  /*margin: 5px 0px 0px 0px;*/
  margin-left:40px;
}

div.chat .salutation {
  font-weight: bold;
  display: none;
}


/* out message style */

div.out {
  text-align: left;
  margin-top: 0.3em;
  border-left: 5px solid #92B3E8;
}

DIV.out .icon {

}

DIV.out .salutation{
	color: #05c;
}

div.out .msg li {
	color: #05c;
}

div.out .msg li span.detail {
	
}

/* in message style */

DIV.in {
  text-align: left;
  margin-top:0.3em;
  /*border-left:5px solid #00A800;*/
}

div.in .msg li {
	color: #390;
}

div.in .msg li span.detail {
	line-height: 1.2em;
}

DIV.in .icon {

}

DIV.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
}

DIV.break {
  height: 1px;
  margin: 1px 0px 1px 0px;
  overflow: hidden;
}

div.status {
	line-height:1.4em;
	padding:2px 5px;
}

div.status li {
	list-style: square;
	color: #ff7900;
	vertical-align: -2px;
}